/*
	Style Guide Styling
	Default Styling
*/

*, *::after, *::before{
	box-sizing: border-box;
}

@font-face{
	font-family: sf;
	src: url("fonts/SF-Pro-Display-Regular.otf");
	font-style: normal;
}
@font-face{
	font-family: mb;
	src: url("fonts/Mabry-Pro.otf");
	font-style: normal;
}


form {
	margin:0em;
	padding:0em;
}

section:not([id]){
	padding: 1em;
	border-bottom: 1px solid #000066;
}

body {
  font-family: 'sf', sans-serif;
  padding: 2rem;
  color:#666666;
} 

h1{
	color: #ed5c4d;
	font-size: 45px;
}

h2{
	color:#ed5c4d;
}

h3{
	color:#E2887C;
}

h4{
	color:#404C77;
}

p{
	letter-spacing: 2px;
	color: #404C77;
}

/*in-text link*/
.intext{
  color: #253273;
  text-decoration: underline;
  letter-spacing: 0.05em;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.intext:hover, .intext:focus{
  color: #F0B929;
  text-decoration: none;
}


/*BRADING*/
.colours{
	height: 20%;
	max-width: 100%;
}
.colour-box{
	padding: 1em;
	margin: 1em;
	
}
.colour1{
	background-color: #E28E83;
}
.colour2{
	background-color: #404C77;
}
.colour3{
	background-color: #F9D999;
}
.colour4{
	background-color: #D0DDE7;
}

.colour-text{
	text-align: center;
	color: white;
}
/*INTERACTIVE ELEMENTS*/

.button-basic, .call-button {
	text-align:center;
	font-weight:medium;
	text-decoration: none;
	box-sizing: content-box;
	border-radius: 1.4em;
	padding: 0.75em 5em 0.75em 5em;

	display:inline-block;

	transition: color box-shadow 0.3s ease-out;
	-webkit-transition: color box-shadow 0.3s ease-out;
}

.call-button{
	color:#F9D999;
	border: solid #404C77;
	background-color:#404C77;
}
.call-button:hover, .call-button:focus, .call-button:active {
	color: white;
	background-color: #404C77;
	border: solid #404C77;
	box-shadow: 0em 0.3em 0.6em rgb(25,35,71, .5);
	transform: scale(.95);
}
<<<<<<< Updated upstream
=======
 .call-button:active {
 	transform: scale(0.95);
 }
>>>>>>> Stashed changes

 .submit{
	color:#F9D999;
	border: solid #404C77;
	background-color:#404C77;
	transition: color box-shadow 0.3s ease-out;
	-webkit-transition: color box-shadow 0.3s ease-out;
}
.submit:hover, .submit:focus, .submit:active {
	color: white;
	background-color: #404C77;
	border: solid #404C77;
	box-shadow: 0em 0.3em 0.6em rgb(25,35,71, .5);
	transform: scale(.95);
}

.reset{
	color:#E28E83;
	text-decoration: underline;
	transition: color box-shadow 0.3s ease-out;
	-webkit-transition: color box-shadow 0.3s ease-out;
}
.reset:hover, .reset:focus, .rest:active {
	color: #E28E83;
	text-decoration: none;
	border: solid #E28E83;
	box-shadow: 0em 0.3em 0.6em rgb(25,35,71, .5);
	transform: scale(.95);
}


code{
	background:#D0DDE7;
	font-size: 1em; 
	line-height: 1.25em;
	padding: 1.25em;
	display: inline-block;
}

/*Modular*/


/*Main Nav*/
img.logo {
width:auto;
height:2em;
}

img.search{
width:auto;
/*margin-top: 15px;*/
/*margin-right: 6px;*/
height:1em;
padding-top: 0.1em;
padding-right: 0.2em;
}

img.shop-icon{
  /*margin-right: 10px;*/
  /*margin-bottom: 1em;*/
  width: auto;
  height: 1.2em;
  padding-right: 1em;
  padding-bottom: 0.1em;
}

.search-field{
  font-size: 20px;
  margin-right: 5px;
}

/*Product listing*/

img.shoes-img{
	width: 65%;
}

.item-name{
	font-size: 30px;
	font-weight: bold;
}

.item-price{
	font-size: 18px;
	font-weight: bold;
}

.item-detail{
	font-size:15px;
	padding-bottom: 1em;
}


.item-button{
	color:#F9D999;

	text-align:center;
	font-weight:medium;
	text-decoration: none;
	box-sizing: content-box;
	border-radius: 1.4em;
	padding: 0.5em 2em 0.5em 2em;
	display:inline-block;

	border: solid #404C77;
	background-color:#404C77;
}
.item-button:hover, .item-button:focus, .item-button:active {
	color: white;
	background-color: #404C77;
	border: solid #404C77;
	box-shadow: 0em 0.3em 0.6em rgb(25,35,71, .5);
	transform: scale(.95);
}

.nav-button{
	display: inline-block;
	font-size: 0.9em;
	color: #F1C162;
	padding: 0em;
	margin: 0em 1.5em;
	border: none;
	font-weight: bold;
	letter-spacing: 0.07em;
	text-decoration: none;
}

.nav-button:hover, .nav-button:focus, .nav-button:active  {
	color: #526D83;
    border-bottom: 2px solid #FBBE4B;
    -webkit-transition: color 0.3s ease-out;
  	transition: color 0.3s ease-out;
}

/*Grid*/
.grid-1, .grid-3 {
  padding: 2em;
  margin: 1em;
  text-align: center;
  background-color:grey;

}
.grid-2-img, .grid-2-text{
	width:100%;
	height:30rem;
	margin:1em;
	text-align: center;
	background-color: #D6DBDF;
}

.grid-4-bar, .grid-7-rev{
	width:100%;
	padding: 2em;
	margin: 1em;
	background-color:#5D6D7E;
}

.grid-5-item{
	padding: 2em;
	margin: 0.5em;
	background-color: #D6DBDF;
	height:300px;
}

.grid-6-img{
	background-color: #5D6D7E;
	width: 55%;
	height:40rem;
	margin:1em;
	text-align: center;
}
.grid-6-text{
	background-color: #D6DBDF;
	height:40rem;
	margin: 1em;
	text-align: center;
}









