/*
	Style Guide Styling
	Default Styling
*/

*, *::after, *::before{
	box-sizing: border-box;
}


@font-face{
	font-family: sf;
	src: url("fonts/SF-Pro-Display-Regular.otf");
	font-style: normal;
}

section:not([id]){
	padding: 1em;
	border-bottom: 1px solid #000066;
}

body {
  font-family: 'sf', sans-serif;
  padding: 2rem;
  color:#666666;
} 

h1{
	font-size: 45px;
}

h2{
	color:#ed5c4d;
}

h3{
	color:#E2887C;
}

h4{
	
	color:#273253;
}

p{
	letter-spacing: 2px;
}


/*BRADING*/
.colours{
	height: 20%;
	max-width: 100%;
}
.colour-box{
	padding: 1em;
	margin: 1em;
}
.colour1{
	background-color: #E28E83;
}
.colour2{
	background-color: #404C77;
}
.colour3{
	background-color: #F9D999;
}
.colour4{
	background-color: #D0DDE7;
}

.colour-text{
	text-align: center;
}
/*INTERACTIVE ELEMENTS*/

.call-button{
	display:inline-block;
	padding: 1em;
	color:white;
	background-color:#404C77;
	text-align:center;
	font-weight:bold;
	text-decoration: none;
}
.call-button:hover, .call-button:active, .call-button:focus {
	display:inline-block;
	padding: 1em;
	color:#404C77;
	background-color:white;
	text-align:center;
	font-weight:bold;
	text-decoration: none;
	border: solid #404C77;
	transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
}

code{
	background:#D0DDE7;
	font-size: 1em; 
	line-height: 1.25em;
	padding: 1.25em;
	display: inline-block;
}

/*Modular*/


/*Main Nav*/
img.logo {
width:auto;
height:2em;
}

img.search{
width:auto;
margin-top: 15px;
margin-right: 6px;
height:1em;
}

.shop-icon{
  margin-right: 10px;
  margin-bottom: 1px;
}

.search-field{
  font-size: 20px;
  margin-right: 5px;
}

/*Product listing*/
.item{
	position: relative;
}
img {
	height: auto;
	width: 60%;
	align-items: center;
}

.item-name{
	font-size: 30px;
	font-weight: bold;
}

.item-price{
	font-size: 18px;
	font-weight: bold;
}

.item-detail{
	font-size:15px;
	padding-bottom: 1em;

}

.item-button{
	position:absolute;
	padding:1em;
}

.nav-button{
	display: inline-block;
	font-size: 0.9em;
	color: #F1C162;
	padding: 0.2em;
	margin: 1.5em;
	border: none;
	font-weight: bold;
	letter-spacing: 0.07em;
	text-decoration: none;
}

.nav-button:hover, .nav-button:focus, .nav-button:active  {
	color: #526D83;
    border-bottom: 2px solid #FBBE4B;
    -webkit-transition: color 0.3s ease-out;
  	transition: color 0.3s ease-out;
}







