*, *::after, *::before{
	box-sizing: border-box;
}

@font-face{
	font-family: sf;
	src: url("fonts/SF-Pro-Display-Regular.otf");
	font-style: normal;
}
@font-face{
	font-family: mb;
	src: url("fonts/Mabry-Pro.otf");
	font-style: normal;
}


body {
	margin:0;
	font-family: 'sf', sans-serif;
	color:#666666;
} 

p{
	color: #404c77;
	font-size: 14px;
	letter-spacing: 0.12em;
	line-height: 1.9em;
}

h1{
	color: #ed5c4d;
	font-size: 45px;
}

h2, h3{
	color:#E28E83;
}

h4{
	color:#404C77;
}

shop-button{
	letter-spacing: 2px;
	color: #404C77;

}

/*******************  HOME  *********************/

.hero-banner{
	display: flex;
	background-color: #EFEFEF;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.hero-img{
	min-width: 60%;
}

.shop-now-btn{
	text-align: center;
	margin: auto;
	flex-basis:30rem;
	display:block;
}

.hero-button{
	margin-bottom: 3em;
}

.shop-now-btn h1{
	letter-spacing: 1.75px;
}

.shop-now-btn h2{
	letter-spacing: 1px;
	line-height: 1.4rem;
	font-size: 25px;
	margin: auto;
	margin-bottom: 2em;
	color: #404c77;
}

.btn-position{
	margin: auto;
}

.product-list{
	padding: 0.8rem;
	margin-bottom: 3rem;
}


.hot-items-title{
	margin-left: 2em;
	margin-right: 2em;
}

.container{
	margin-top: 2.5em;
}

/********************** CONTACT/ CHECK OUT ************************/

.contact-form, .checkout-form{
	margin:0 3rem 5rem 3rem;
}

form.c-forms input[type=text], select, textarea {
	width: 100%;
	padding: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

form.c-forms textarea{
	height:250px;
}

.contact-detail{
	text-align: center;
	margin-bottom: 2em;
	color: #404C77;
}

.contact-form, .checkout-form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 5em;
}

.contact-button, .checkout-button{
	text-align: center;
}

/**-----icons------*/
.fa-cc-visa{
	color: navy;
}
.fa-cc-amex{
	color: blue;
}
.fa-cc-mastercard{
	color: red;
}
.fa-cc-discover{
	color: orange;
}
.fa-cc-apple-pay{
	color: black;
}

a {
	color: #2196F3;
}

hr {
	border: 1px solid lightgrey;
}

span.price {
	float: right;
	color: grey;
}
.col-25, .col-50, .col-75 {
	padding: 0 16px;
}


label {
	margin-bottom: 10px;
	display: block;
}

.payment-options {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

.co-button{
	margin-top: 1em;
}


/********************** MAIN BUTTON ************************/
.main-button{
	text-align:center;
	text-decoration: none;
	box-sizing: content-box;
	border-radius: 1.4em;
	padding: 0.75em 5em 0.75em 5em;

	display:inline-block;
	color:#F9D999;
	border: solid #404C77;
	background-color:#404C77;
}

.small-button{
	padding: 0.55em 4em 0.55em 4em;
}

.main-button:hover, .main-button:focus, .main-button:active {
	color: white;
	background-color: #404C77;
	border: solid #404C77;
	box-shadow: 0em 0.3em 0.6em rgb(25,35,71, .5);
	transform: scale(.95);
	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	-webkit-transition: color 0.3s ease-out;
}


/********************** CONFIRMATION ************************/
div.confirmation{
	padding:12em;
	text-align: center;
}

/********************** Cart ************************/
.cart{
	margin: 2em;
}

.purchase, .order-summary{
	margin:1em;
	padding: 1.5em;
	border: 1px solid #A4A4A4 ;
}

.purchase-title{
	font-size: 1.2em;
}
.summary-title{
	font-size:25px;
	text-align: center;
	margin:0.8em;
}
.summary-list:not([id]){
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	border-bottom: 1px dotted #B6B6B6;
}

.purchase-description{
	margin:2rem 1rem 2rem 1rem;
}


dd:not(.value){
	padding-left:8rem;
	text-align: right;
}

.value{
	color: #5D6D7E;
	font-size:0.7em;
}

tbody{
	line-height: 1.5em;
}

th{
	padding-right: 1em;
}

.cart-button{
	margin-top: 2em;
}


/****************  Product listing   ***************/

.product-detail{
	margin:3em;
}

.details{
	padding-top:2em; 
}
.shoes-img{
	width: 100%;
}

.detail-text {
	margin-top:5rem;
	padding: 0 2rem;
	line-height: 1.3em;
}

.item-name{
	font-size: 30px;
	line-height: 1em;
}

.item-price{
	font-size: 18px;
	margin: 1em 0 0 0;
	text-align: right;
}

.item-detail{
	font-size:13px;
	padding: 1em 0 4em 0;

}


/*tutorial learnt from https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp?fbclid=IwAR2CpsrN1zdFV5hoX6G-wHvBOmzKGp7LshUtr2GbrDREGBAIu4PvnyJa6CE*/

/*-------image gallery----*/


/* Position the image container (needed to position the left and right arrows) */


.galllery {
  position: relative;
}

.gallery-img{
	width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}



/*tutorial learnt from https://www.w3schools.com/howto/howto_custom_select.asp*/
/*********      Size Selector           ******************/
/* The container must be positioned relative: */

.custom-select {
	position: relative;
	width: 235px;
	margin: 0 0 2rem 0 ;
	text-align: center;
}

.custom-select select {
	display: none; /*hide original SELECT element:*/

}

.select-selected {
	background-color: #F9D999;
	border-radius: 10px;
}

/* Style the arrow inside the select element: */ 
.select-selected:after {
	position: relative;
	content: "";
	top: 14px;
	right: -12px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
} 


/* Point the arrow upwards when the select box is open (active): */ 
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: -12px;
}


/* style the items (options), including the selected item: */ 
.select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */ 
.select-items {
	position: absolute;
	background-color: #F9D999;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */ 
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}


/**** Review ****/

.reviews{
	margin:7em 4em 4em 4em;
	text-align: left;
}

.review-title{
	text-align:left;
	padding-left: 1em;
}

.review-username{
	color:#404C77;
	margin-left:1.5em;
}

.review-comment{
	padding-left: 2em;
}

.review-comment-title{
	margin-bottom: 8px;
}

.review-comment-detail{
	padding-left: 1em;
	margin-top: 8px;
	max-width: 700px;
}

.rating{
	margin-top:0.5em;
	margin-left:2em;
	letter-spacing: 3px;
}

.checked {
	color: #F1C162;
}

/************** Modals ************/
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


form.r-form input[type=text], select, textarea {
	width: 100%;
	padding: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 0.9em;
	resize: vertical;
}

form.r-form textarea{
	height:150px;
	margin-top:0;
}

.rev-btn-placement{
	text-align: right;
}

.review-btn{
	border:none;
	color:#253273;
	text-decoration: underline;
	font-size:0.9em;
	letter-spacing: 0.05em;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

.review-btn:hover, .review-btn:focus, .review-btn:active{
	color: #F0B929;
	text-decoration: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

.rv {
  font-size: 2em;
  margin-top:0.9em;
  margin-bottom:0.4em;
}

.cancel-button{
	color:#E28E83;
	text-decoration: underline;
	text-align:center;
	text-decoration: none;
	box-sizing: content-box;
	border-radius: 1.4em;
	display:inline-block;
	border: solid #404C77;
	margin: 0.5em;
}
.cancel-button:hover, .cancel-button:focus, .cancel-button:active {
	color: #E28E83;
	text-decoration: none;
	border: solid #E28E83;
	box-shadow: 0em 0.3em 0.6em rgb(25,35,71, .5);
	transform: scale(.95);
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

.review-button{
	margin:0.5em;
}

.modal-buttons{
	text-align: center;
}

/************** Grid for Shop ************/
.grid-1, .grid-3 {
	padding: 2em;
	margin: 1em;
	text-align: center;
	background-color:grey;

}
.grid-2-img, .grid-2-text{
	width:100%;
	height:30rem;
	margin:1em;
	text-align: center;
	background-color: #D6DBDF;
}

.grid-4-bar, .grid-7-rev{
	width:100%;
	padding: 2em;
	margin: 1em;
	background-color:#5D6D7E;
}

.grid-5-item{
	padding: 2em;
	margin: 0.5em;
	background-color: #D6DBDF;
	height:300px;
}

.grid-6-img{
	background-color: #5D6D7E;
	width: 55%;
	height:40rem;
	margin:1em;
	text-align: center;
}
.grid-6-text{
	background-color: #D6DBDF;
	height:40rem;
	margin: 1em;
	text-align: center;
}


/*----------- Styling for About Page -----------*/

.title{
	font-size: 45px;
	text-align: center;
	margin-bottom: 0.5em;
	margin-top: 1em;

}

.about-detail{
	text-align: center;
	line-height: 230%;
	padding: 1em 7em 1em 7em;
	margin:3em 0 5em 0;
}

.about-img{
	text-align: center;
	padding: 2em;
}

/*----------- Styling for Shop Page -----------*/
.nav-container{
	border-bottom: 0.5px solid rgb(200, 200, 200);
	background-color: white;
}

.brand-nav{
	text-align: center;

}

.brand-def{
	text-align: center;
	padding-bottom: 45px;
	padding-right: 5em;
	padding-left: 5em;
}

.brand-button{
	max-width: 16rem;
	margin: 0 4rem 5rem 4rem;
	color:#404C77;
	border: solid #F9D999;
	background-color:#F9D999;
}

.brand-button:hover, .brand-button:focus, .brand-button:active {
	color: #F9D999;
}

.brand-name-button{
	max-width: 16rem;
	margin: 0 4rem 5rem 4rem;
}

.product-img{
	box-shadow: 0 4px 8px 0 rgba(64, 76, 119, 0.09), 0 6px 20px 0 rgba(64, 76, 119, 0.09);
	width: 100%;

}

.product-img:hover, .product-img:focus, .product-img:active{
	box-shadow: 0 4px 8px 0 rgba(64, 76, 119, 0.24), 0 6px 20px 0 rgba(64, 76, 119, 0.4);
}

.product-list{
	flex: 1 1 auto;
	max-width: 16rem;
	padding: 0.1rem;

	text-decoration: none;
}


.category-list{
	flex: 1 1 auto;
	position: relative;
	max-width: 16rem;
	margin-bottom: 3rem;
}



.product-name{
	color: #ED5C4D;
	font-size:1.2em;
	margin: 0.5rem 0 0 0;
	text-decoration: none;
}


.product-price{
	text-decoration: none;
	color: rgb(114, 114, 114);
	margin: 1rem 0 0 0;
}

.item-lists{
	margin-bottom: 1.2em;
	margin-right: -1em;
}


/*********************** HEADER ***********************/

.brand-logo{
	padding-top:1.5em;
}

.main-nav{
	align-items: center;
}

.nav-names, .nav-icons{
	padding-top:1em;
}

.nav-button{
	font-size: 1em;
	color: #F1C162;
	margin: 0em 1em;
	border: none;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.nav-button:hover, .nav-button:focus, .nav-button:active  {
	color: #526D83;
	border-bottom: 2px solid #FBBE4B;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

.cart-icon{
	font-size: 20px;
	padding-left:1em;
	color:#404C77;
}

.cart-icon:hover, .cart-icon:focus, .cart-icon:active{
	color:#F9D999;
}


/******************  Search bar  *****************************/
form.example input[type=text] {
	padding: 6px;
	font-size: 14px;
	border: 1px ;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

form.example button {
	float: left;
	width: 20%;
	padding: 6px;
	background: #404C77;
	color: white;
	font-size: 14px;
	border: none; 
}

form.example button:hover, form.example button:active, form.example:focus{
	background: #F9D999;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

/******************  Search PG  *****************************/
.search-sub{
	text-align: center;
	margin:0 0 2em 0;
}

form.search-pg{
	width:65%;
}

form.search-pg input[type=text] {
	padding: 0.5em;
	font-size: 20px;
	border: 2px ;
	float: left;
	width: 85%;
	background: #f1f1f1;
}

form.search-pg button {
	padding:0.5em;
	float: left;
	width: 15%;
	background: #404C77;
	color: white;
	font-size: 20px;
	border: none; 
}

form.search-pg button:hover, form.search-pg button:active, form.search-pg:focus{
	background: #F9D999;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}


/***************FOOTER*************/
footer{
	padding-bottom: 2em;
	text-align: center;
	background:#404c77;
}
.footer-contact{
	line-height:50%;
}
.contact-info{
	color: #FAEACA;
}
.footer-link{
	color: #FAEACA;
	text-decoration: underline;
	letter-spacing: 0.05em;
}

.footer-link:hover, .footer-link:focus .footer-link:active{
	color: #E2887C;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

header:not([id]){
	padding-bottom:1.5rem;
	border-bottom: 1px solid #526D83;
}

footer:not([id]){
	padding-top:1.5rem;
	border-top: 1px solid #526D83;
}













