*, *::after, *::before{
	box-sizing: border-box;
}

@font-face{
	font-family: sf;
	src: url("fonts/SF-Pro-Display-Regular.otf");
	font-style: normal;
}
@font-face{
	font-family: mb;
	src: url("fonts/Mabry-Pro.otf");
	font-style: normal;
}


body {
	margin:0;
	font-family: 'sf', sans-serif;
	color:#666666;
} 

h1{
	color: #ed5c4d;
	font-size: 45px;
}

h2, h3{
	color:#E28E83;
}

h4{
	color:#404C77;
}

p{
	letter-spacing: 2px;
	color: #404C77;
}

/*******************  HOME  *********************/

.home-image{
	/*Tutorial from https://www.w3schools.com/html/html_images_background.asp*/
	background-image: url(../img/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 50rem;

}

.home-text{
	text-align: left;
	padding:25em 0em 0em 5em;
}
p.company-name{
	color: #ed5c4d;
	font-size: 55px;
}
p.company-info{
	padding:5em 0em 0em 3em;
	max-width:52em;
}


/********************** CONTACT/ CHECK OUT ************************/

.contact-form, .checkout-form{
	margin:0 3rem 5rem 3rem;
}

form.c-forms input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}



input[type=submit] {
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


.contact-detail{
	text-align: center;
	margin-bottom: 2em;
	color: #404C77;
}

.contact-form, .checkout-form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 5em;
}

.contact-button, .checkout-button{
	text-align: center;
}

a {
	color: #2196F3;
}

hr {
	border: 1px solid lightgrey;
}

span.price {
	float: right;
	color: grey;
}
.col-25,
.col-50,
.col-75 {
	padding: 0 16px;
}



label {
	margin-bottom: 10px;
	display: block;
}

.payment-options {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

.co-button{
	margin-top: 1em;
}


/********************** MAIN BUTTON ************************/
.main-button{
	text-align:center;
	text-decoration: none;
	box-sizing: content-box;
	border-radius: 1.4em;
	padding: 0.75em 5em 0.75em 5em;

	display:inline-block;

	transition-property: color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	-webkit-transition: color 0.3s ease-out;
	color:#F9D999;
	border: solid #404C77;
	background-color:#404C77;
}

.small-button{
	padding: 0.55em 4em 0.55em 4em;
}

.main-button:hover, .main-button:focus, .main-button:active {
	color: white;
	background-color: #404C77;
	border: solid #404C77;
	box-shadow: 0em 0.3em 0.6em rgb(25,35,71, .5);
	transform: scale(.95);
}


/********************** CONFIRMATION ************************/
div.confirmation{
	padding:12em;
	text-align: center;
}

/********************** Cart ************************/
.cart{
	margin: 2em;
}

.purchase, .order-summary{
	margin:1em;
	padding: 1.5em;
	border: 1px solid #A4A4A4 ;
}

.purchase-title{
	font-size: 1.2em;
}
.summary-title{
	font-size:25px;
	text-align: center;
	margin:0.8em;
}
.summary-list:not([id]){
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	border-bottom: 1px dotted #B6B6B6;
}

.purchase-description{
	margin:2rem;
}


dd:not(.value){
	padding-left:8rem;
	text-align: right;
}

.value{
	color: #5D6D7E;
	font-size:0.7em;
}

tbody{
	line-height: 1.5em;
}

th{
	padding-right: 1em;
}

.cart-button{
	margin-top: 2em;
}


/****************  Product listing   ***************/

.product-detail{
	margin:3em;
}

.details{
	padding-top:2em; 
}
.detail-img{
	width: 100%;
	display: inline-block;
}

img.shoes-img{
	width:80%;
}

.detail-text {
	width: 75%;
	position: relative;
	margin-top:17rem;
	padding: 0 2rem;
	line-height: 1.3em;

}


.item-name{
	font-size: 30px;
}

.item-price{
	font-size: 18px;
}

.item-detail{
	font-size:15px;
	padding-bottom: 1em;
}

/**** Review ****/

.reviews{
	margin:7em 4em 4em 4em;
	text-align: left;
}

.review-title{
	text-align: center;
}

.review-username{
	color:#404C77;
	margin-left:2em;
}

.review-comment{
	padding-left: 1em;
}

.review-comment-title{
	margin-bottom: 8px;
}

.review-comment-detail{
	padding-left: 1em;
	margin-top: 8px;
	max-width: 600px;
}

.rating{
	margin-top:0.5em;
	margin-left:2em;
	letter-spacing: 3px;
}

.checked {
	color: #F1C162;
}

section:not([id]){
	padding: 0.6em;
	border-bottom: 1px dotted #000066;
}


/************** Grid for Shop ************/
.grid-1, .grid-3 {
	padding: 2em;
	margin: 1em;
	text-align: center;
	background-color:grey;

}
.grid-2-img, .grid-2-text{
	width:100%;
	height:30rem;
	margin:1em;
	text-align: center;
	background-color: #D6DBDF;
}

.grid-4-bar, .grid-7-rev{
	width:100%;
	padding: 2em;
	margin: 1em;
	background-color:#5D6D7E;
}

.grid-5-item{
	padding: 2em;
	margin: 0.5em;
	background-color: #D6DBDF;
	height:300px;
}

.grid-6-img{
	background-color: #5D6D7E;
	width: 55%;
	height:40rem;
	margin:1em;
	text-align: center;
}
.grid-6-text{
	background-color: #D6DBDF;
	height:40rem;
	margin: 1em;
	text-align: center;
}


/*----------- Styling for About Page -----------*/


.title{
	font-size: 45px;
	text-align: center;
	margin-bottom: 1em;

}

.about-detail{
	text-align: left;
	line-height: 200%;
	padding: 1em 7em 2em 7em;
}

.about-img{

	padding: 1em 2em 5em 3.3em;
}

/*----------- Styling for Shop Page -----------*/
.nav-container{
	border-bottom: 0.5px solid rgb(200, 200, 200);
	background-color: white;
}

.brand-nav{
	text-align: center;

}

.brand-button{
	max-width: 16rem;
	margin: 0 4rem 5rem 4rem;
	color:#404C77;
	border: solid #F9D999;
	background-color:#F9D999;
}

.brand-button:hover, .brand-button:focus, .brand-button:active {
	color: #F9D999;
}

.brand-name-button{
	max-width: 16rem;
	margin: 0 4rem 5rem 4rem;
}

.product-list{
	flex: 1 1 auto;
	max-width: 16rem;
	padding: 0.1rem;
	margin-bottom: 5rem;
	margin-right: 8rem;
	text-decoration: none;
}


.product-name{
	color: #ED5C4D;
	font-size:1.2em;
	margin: 0.5rem 0 0 0;
}

.product-name:hover, .product-name:focus, .product-name:active{
	color: #E28E83;
	text-decoration: underline;
	margin: 0.5rem 0 0 0;
	transition: color 0.3s ease-out;
}

.product-price{
	text-decoration: none;
	color: rgb(114, 114, 114);
	margin: 1rem 0 0 0;
}


/***********************  ***********************/





/*********************** HEADER ***********************/

img.brand-logo{
	padding-top:1em;
}

div.main-nav{
	padding: 0 2em 0 2em;
}

.nav-button{
	display: inline-block;
	font-size: 1em;
	color: #F1C162;
	margin: 0em 1.5em;
	border: none;
	font-weight: bold;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.nav-button:hover, .nav-button:focus, .nav-button:active  {
	color: #526D83;
	border-bottom: 2px solid #FBBE4B;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

.cart-icon{
	font-size: 20px;
	padding-right:8px;
	color:#404C77;
}

.cart-icon:hover, .cart-icon:focus, .cart-icon:active{
	color:#F9D999;
}

img.logo {
	width:auto;
	height:2em;
}

/******************  Search bar  *****************************/
form.example input[type=text] {
	padding: 4px;
	font-size: 16px;
	border: 1px ;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

form.example button {
	float: left;
	width: 20%;
	padding: 4px;
	background: #404C77;
	color: white;
	font-size: 16px;
	border: none; 
}

form.example button:hover, form.example button:active, form.example button:focus{
	background: #F9D999;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}


/***************FOOTER*************/
footer{
	padding-bottom: 2em;
	text-align: center;
	background:#253273;
}
.footer-contact{
	line-height:50%;
}
.contact-info{
	color: #FAEACA;
}
.footer-link{
	color: #FAEACA;
	text-decoration: underline;
	letter-spacing: 0.05em;
}

.footer-link:hover, .footer-link:focus .footer-link:active{
	color: #E2887C;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

header:not([id]){
	padding-bottom:1.5rem;
	border-bottom: 1px solid #526D83;
}

footer:not([id]){
	padding-top:1.5rem;
	border-top: 1px solid #526D83;
}
















